page-notas {
    .col{
        border: 1px solid #E4E8DE;
        border-radius:3px;
        margin-top: 3px;
        background:white;
        
        }
       
        .asig{
            
            color:#09843B;
        }
        
    
    
}
