page-horario-docente {


    .bg-style {
        background:#F0FEE7;
        
    }
    .col{
        border: 1px solid #E4E8DE;
        border-radius:3px;
        margin-top: 3px;
        background:white;
        
        }
       
        .nav{
            
            color:#09843B;
        }
        
}
